.scrollButton {
  display: flex;
  justify-content: center;
  padding-right: 10px;
  margin-bottom: 1rem;
}

.scrollButton button {
  width: 50px;
  height: 50px;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #add8e6;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.scrollButton button:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}
