.scrollButtonContainer {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    margin-bottom: 1rem;
}

.scrollButton {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    background-color: #157fa2;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer; 
    z-index: 1;   
}
  
.scrollButton:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}