.create_product_form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

.create_product_form h1 {
  margin: 0 auto 1rem;
}
.create_input_element {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.create_product_form input, .create_product_form textarea {
  font-size: 1.2rem;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 3%), 0px 3px 6px rgb(0 0 0 / 2%);
  background-color: white;
}

.create_product_form textarea{
   resize: vertical;
}

.create_product_form > button {
   padding: 12px 0px;
   margin-top: 10px;
   border: none;
   border-radius: 4px;
   color: white;
   font-size: 1rem;
   font-weight: 600;
   background-color: rgb(250, 185, 64);
   cursor: pointer;
   width: 100%;
 }
 
 .create_product_form > button:hover {
   transform: scale(1.02);
 }

 @media screen  and (max-width: 600px){
    .create_product_form{
       width: 90vw;
       padding: 20px;
    }
 }

 .abc{
   margin-bottom: 10rem;
 }